/* .head img {
    width: 100%;
    height: 500px;
    margin: auto;
} */

.topnav {
  background-color: #c0c0c0;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  margin: 20px;
  padding: 0;
  border-radius: 5px;
  /* box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5); */
}

.topnav a {
  color: #3f7e27;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

.topnav a.left img {
  margin-right: auto;
  width: 50px;
  height: 50px;
}

.topnav a.right {
  margin-left: 20px;
  margin-right: 20px;
}

.head img {
    width: 95%;
    height: 400px;
    object-fit: cover;
    margin: auto;
    margin-top: 20px;
    display: block;
    justify-content: center;
    border-radius: 5px;
    margin-bottom: 50px;
}

.submit {
    margin-top: 20px;
}

.submit button:hover {
    box-shadow: 0 0 5px grey;
}

input:hover {
    box-shadow: 0 0 5px grey;
}